<div class="preloader">
    <div class="preloader-bounce">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<header id="header">
    <div class="container-fluid">
        <div class="navbar">
            <h1 href="#" id="logo">                      
                COMPUTER <img src = "../static/images/icon.png" width="50px" height="50px"/> VISION
            </h1>

            <div class = "audio">
                <audio id="app-audio" controls autoplay = "autoplay" loop = "true"> 
                    <source src = "../static/images/sound.mp3" type = "audio/mpeg" >
                    <source src = "../static/images/sound.ogg" type = "audio/mpeg" >
                    <source src = "../static/images/sound.wav" type = "audio/mpeg" >
                </audio>                          
            </div>       

            <div class="navigation-row">
                <nav id="navigation">
                    <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                    <div class="nav-box navbar-collapse">                      
                        <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                            <li data-menuanchor="slide01" class="active"><a href="#slide01">Home</a></li>
                            <li data-menuanchor="slide02"><a href="#slide02">Upload</a></li>
                            <li data-menuanchor="slide03"><a href="#slide03">About Me</a></li>
                            <li data-menuanchor="slide04"><a href="#slide04">Services</a></li>
                            <li data-menuanchor="slide05"><a href="#slide05">My Skills</a></li>
                            <li data-menuanchor="slide06"><a href="#slide06">My Work</a></li>
                            <li data-menuanchor="slide07"><a href="#slide07">Contact Me</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
