<div class="preloader">
    <div class="preloader-bounce">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<header id="header">
    <div class="container-fluid">
        <div class="navbar">
            <h1 href="#" id="logo">                      
                COMPUTER <img src = "../static/images/icon.png" width="50px" height="50px"/> VISION
            </h1>

            <div class = "audio">
                <audio controls autoplay = "autoplay" loop = "true" id="app-audio"> 
                    <source src = "../static/images/sound.mp3" type = "audio/mpeg" >
                    <source src = "../static/images/sound.ogg" type = "audio/mpeg" >
                    <source src = "../static/images/sound.wav" type = "audio/mpeg" >
                </audio>                          
            </div>       

            <div class="navigation-row">
                <nav id="navigation">
                    <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                    <div class="nav-box navbar-collapse">                      
                        <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                            <li data-menuanchor="slide01" class="active"><a href="#slide01">Home</a></li>
                            <li data-menuanchor="slide02" 
                            style="margin-right: 150px; margin-left: 40px;">
                                <a href="#slide02">Upload</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
