

<div class="section animated-row" data-section="slide02">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-7 wide-col-laptop">
                <div class="title-block animate" data-animate="fadeInUp">
                    <span>Upload</span>
                    <h2>Query Image</h2>
                    <div class="label-result" style="visibility: hidden;"></div>
                </div>
    
                <div class="contact-section kk">
                    <div class="row">
                        <div class="col-md-12 animate" data-animate="fadeInUp">
                            <form id="ajax-contact" method="post" action="#" enctype="multipart/form-data">
                                <div class="drag-area input-field">
                                    {% if not result %}
                                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                                    <header>Drag & Drop to Upload File</header>
                                    <span>OR</span>
                                    <button id="browse-btn" type="button">Browse File</button>
                                    <input type="file" id="fil-input" hidden>
                                    {% else %}
                                        <img src="../{{path}}" alt="image">
                                    {% endif %}
                                </div>

                                <button class="btn mt-3" id="label-btn" type="submit" 
                                style="visibility: hidden; width: 40%;">
                                    Get Label
                                </button>
                                <button type="button" class="btn ml-3 mt-3" 
                                id="clear-btn" style="visibility: hidden; width: 40%;">
                                    Clear
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>